{% extends 'news/base.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}

{% block content %}
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          {% for news in news_list %}

          <div class="single_iteam"> <a href="{{ news.get_absolute_url }}"> <img src="{{ news.image.url }}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="{{ news.get_absolute_url }}">{{ news.title | truncatewords:5 }}</a></h2>
              <p>{{ news.title }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest news</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              {% for news in news_list %}
              <li>
                <div class="media"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title"> {{ news.title }}</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>

            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Software</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                {% for soft in software_news %}
                  {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig"> <a href="{{ soft.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ soft.image.url}}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ soft.get_absolute_url }}">{{ soft.title }}</a> </figcaption>
                    <p>{{ soft.title | truncatewords:10 }}</p>
                  </figure>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>

            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for software in software_news %}
                  {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ software.get_absolute_url }}" class="media-left"> <img alt="" src="{{ software.image.url}}"> </a>
                    <div class="media-body"> <a href="{{ software.get_absolute_url }}" class="catg_title"> {{ software.title }}</a> </div>
                  </div>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>AI & Machine Learning </span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  {% for aiml in aiml_news %}
                    {% if forloop.first %}
                  <li>
                    <figure class="bsbig_fig"> <a href="{{ aiml.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ aiml.image.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{ aiml.get_absolute_url }}">{{ aiml.title }}</a> </figcaption>
                      <p>{{ aiml.body | truncatewords:10 }}</p>
                    </figure>
                  </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <ul class="spost_nav">
                  {% for aiml in aiml_news %}
                    {% if forloop.counter > 1 %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ aiml.get_absolute_url }}" class="media-left"> <img alt="" src="{{ aiml.image.url }}"> </a>
                      <div class="media-body"> <a href="{{ aiml.get_absolute_url }}" class="catg_title">{{ aiml.title }}</a> </div>
                    </div>
                  </li>
                   {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Science & Technologies</span></h2>
                <ul class="business_catgnav">
                  {% for stech in scitech_news %}
                    {% if forloop.first %}
                  <li>
                    <figure class="bsbig_fig wow fadeInDown"> <a href="{{ stech.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ stech.image.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{ stech.get_absolute_url }}">{{ stech.title }}</a> </figcaption>
                      <p>{{ stech.body | truncatewords:10 }}</p>
                    </figure>
                  </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <ul class="spost_nav">
                  {% for stech in scitech_news %}
                    {% if forloop.counter > 1 %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{{ stech.get_absolute_url }}" class="media-left"> <img alt="" src="{{ stech.image.url }}"> </a>
                      <div class="media-body"> <a href="{{ stech.get_absolute_url }}" class="catg_title"> {{ stech.title }}</a> </div>
                    </div>
                  </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Internet & Web</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                {% for iweb in intweb_news %}
                  {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ iweb.get_absolute_url }}"> <img src="{{ iweb.image.url }}" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ iweb.get_absolute_url }}">{{ iweb.title }}</a> </figcaption>
                    <p>{{ iweb.body | truncatewords:20 }}</p>
                  </figure>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for iweb in intweb_news %}
                  {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ iweb.get_absolute_url }}" class="media-left"> <img alt="" src="{{ iweb.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ iweb.get_absolute_url }}" class="catg_title"> {{ iweb.title }}</a> </div>
                  </div>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

          </div>
          <div class="single_post_content">
            <h2><span>Games</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                {% for game in game_news %}
                  {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ game.get_absolute_url }}"> <img src="{{ game.image.url }}" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ game.get_absolute_url }}">{{ iweb.title }}</a> </figcaption>
                    <p>{{ game.body | truncatewords:20 }}</p>
                  </figure>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for game in game_news %}
                  {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ game.get_absolute_url }}" class="media-left"> <img alt="" src="{{ game.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ game.get_absolute_url }}" class="catg_title"> {{ game.title }}</a> </div>
                  </div>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular News</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>News Categories</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              {% for ctgr in categories %}
                <option>{{ ctgr.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}